{% extends "../skel.html" %} {% block title %}Home{% endblock %} {% block
content %}
<!-- Hero -->
<form class="text-left" hx-target-4*="#book-error" hx-post="/api/book">
  <div class="max-w-xs mx-auto">
    <div class="grid gap-y-4">
      <h1 class="block text-2xl font-bold text-slate-800">Create A Book</h1>
      <!-- Form Group -->
      <div>
        <label for="name" class="block text-sm my-2">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="py-3 px-4 block w-full border border-slate-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
          required
          aria-describedby="name-error"
        />
      </div>
      <div>
        <label for="description" class="block text-sm my-2">Description</label>
        <textarea
          id="description"
          name="description"
          rows="4"
          class="py-3 px-4 block w-full border border-slate-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
          required
          aria-describedby="description-error"
        ></textarea>
      </div>

      {% if is_first_time -%}
      <input type="hidden" value="1" id="set_default" name="set_default" />
      {% else -%}
      <input type="hidden" value="0" id="set_default" name="set_default" />
      <div class="flex items-center">
        <input
          onchange="handleCheck()"
          type="checkbox"
          class="shrink-0 mt-0.5 border border-slate-200 rounded text-blue-600 focus:ring-blue-500"
        />
        <div class="ms-3">
          <label for="set_default" class="text-sm"> Set default book </label>
        </div>
      </div>
      {% endif -%}
    </div>
    <p id="book-error" class="text-xs text-red-600 mt-2"></p>
    <br />
    <button
      type="submit"
      class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
    >
      Create New Book
    </button>
  </div>
</form>
<script>
  let cb = document.getElementById("set_default");
  function handleCheck(e) {
    if (cb.value === "1") {
      cb.value = "0";
    } else {
      cb.value = "1";
    }
  }
  document.body.addEventListener("createbookSuccess", function (evt) {
    window.location.replace("/dashboard");
  });
</script>
<!-- End Hero -->
{% endblock %}
