{% extends "skel.html" %} {% block title %}Home{% endblock %} {% block content
%}
<!-- Hero -->
<form class="text-center" hx-post="/api/book">
  <div class="max-w-xs mx-auto">
    <div class="grid gap-y-4">
      <h1 class="block text-2xl font-bold text-gray-800">Create A Book</h1>
      <!-- Form Group -->
      <div>
        <div class="relative">
          <input
            type="text"
            id="name"
            name="name"
            class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            required
            aria-describedby="book-error"
          />
        </div>
      </div>
    </div>
    <p id="book-error" class="text-xs text-red-600 mt-2"></p>
    <br />
    <button
      type="submit"
      class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
    >
      Create New Book
    </button>
  </div>
</form>
<script>
  document.body.addEventListener("createbookSuccess", function (evt) {
    window.location.replace("/protected");
  });
</script>
<!-- End Hero -->
{% endblock %}
