{% extends "skel.html" %} {% block title %}Home{% endblock %} {% block content
%}
<!-- Hero -->
<main class="w-full max-w-md mx-auto p-6">
  <div
    class="mt-7 bg-white border text-slate-600 border-slate-200 rounded-xl shadow-sm"
  >
    <div class="p-4 sm:p-7">
      <form hx-post="/api/login" hx-target-4*="#login-error">
        <div class="text-center mb-10">
          <h1 class="block text-2xl font-bold text-slate-800">Sign in</h1>
          <p class="mt-2 text-sm text-slate-600">
            Don't have an account yet?
            <a
              class="text-blue-600 decoration-2 hover:underline font-medium"
              href="/register"
            >
              Sign up here
            </a>
          </p>
        </div>
        <!-- Form -->
        <div>
          <div class="grid gap-y-4">
            <!-- Form Group -->
            <div>
              <label for="email" class="block text-sm mb-2"
                >Email address</label
              >
              <div class="relative">
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="py-3 px-4 block w-full border border-slate-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                  required
                />
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div>
              <label for="password" class="block text-sm mb-2">Password</label>
              <div class="relative">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="py-3 px-4 block w-full border border-slate-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                  required
                />
              </div>
            </div>
            <!-- End Form Group -->

            <!-- Checkbox -->
            <div class="flex items-center">
              <div class="flex">
                <input
                  id="remember-me"
                  name="remember-me"
                  type="checkbox"
                  class="shrink-0 mt-0.5 border border-slate-200 rounded text-blue-600 focus:ring-blue-500"
                />
              </div>
              <div class="ms-3">
                <label for="remember-me" class="text-sm"> Remember me </label>
              </div>
            </div>
            <p id="login-error" class="text-xs text-red-600"></p>
            <!-- End Checkbox -->
            <button
              type="submit"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
            >
              Sign in
            </button>
          </div>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
</main>
<script>
  document.body.addEventListener("loginSuccess", function (evt) {
    window.location.replace("/dashboard");
  });
</script>
<!-- End Hero -->
{% endblock %}
