<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - Hype</title>
    <meta name="Description" content="Site description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    {# this must be a 192px square PNG #} {#
    <link rel="apple-touch-icon" href="/favicon.svg" />
    #}
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="manifest" href="/manifest.json" />
    <script src="/htmx.min.js"></script>
  </head>
  <body class="bg-slate-100">
    <div
      id="menu-overlay"
      class="z-40 w-screen hidden h-screen bg-black/30 absolute left-0 top-0"
    ></div>
    <div class="min-h-screen">
      <header
        class="flex bg-blue-950 relative items-center justify-between max-w-lg p-4 mx-auto w-full"
      >
        <div>
          <button
            onclick="setMenuOpen()"
            type="button"
            class="flex justify-center items-center h-10 w-10 text-sm font-semibold rounded-xl text-slate-600 bg-slate-50 shadow-sm disabled:opacity-50 disabled:pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 6l16 0" />
              <path d="M4 12l16 0" />
              <path d="M4 18l16 0" />
            </svg>
            <span class="sr-only">Open Sidemenu</span>
          </button>
          <div
            role="menu"
            id="menu"
            class="wrapper duration-300 absolute w-[289px] -left-[289px] top-0 z-50 p-4 bg-white"
          >
            <div class="w-full flex justify-end mb-6">
              <button
                onclick="setMenuOpen()"
                type="button"
                id="open-menu"
                class="flex justify-center items-center h-10 w-10 text-sm font-semibold rounded-xl border border-slate-200 bg-slate-50 text-slate-800 shadow-sm hover:bg-slate-50 disabled:opacity-50 disabled:pointer-events-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-right"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M13 18l6 -6" />
                  <path d="M13 6l6 6" />
                </svg>
                <span class="sr-only">Open Sidemenu</span>
              </button>
              <button
                onclick="setMenuClose()"
                type="button"
                id="close-menu"
                class="hidden justify-center items-center h-10 w-10 text-sm font-semibold rounded-xl border border-red-200 bg-red-50 text-red-800 shadow-sm hover:bg-red-50 disabled:opacity-50 disabled:pointer-events-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-x"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M18 6l-12 12" />
                  <path d="M6 6l12 12" />
                </svg>
                <span class="sr-only">Close Sidemenu</span>
              </button>
            </div>
            {% include "components/menu.html" %}
            <form hx-post="/api/logout" hx-target-4*="#logout-error">
              <br />
              <p id="logout-error" class="text-sm text-red-600"></p>
              <div>
                <button
                  type="submit"
                  class="w-full cursor-pointer py-3 px-6 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-xl border bg-slate-50 text-slate-700 hover:bg-slate-100 disabled:opacity-50 disabled:pointer-events-none"
                >
                  Sign out
                </button>
              </div>
            </form>
          </div>
        </div>
        <a
          href="/record/create"
          class="flex justify-center items-center h-10 w-10 text-sm font-semibold rounded-xl text-slate-600 bg-slate-50 shadow-sm disabled:opacity-50 disabled:pointer-events-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
          </svg>
          <span class="sr-only">Create New Record</span>
        </a>
      </header>
      <main class="max-w-lg p-4 mx-auto w-full" hx-ext="response-targets">
        {% block content %}{% endblock %}
      </main>
      <footer class=""></footer>
    </div>
    <script>
      document.body.addEventListener("logoutSuccess", function (evt) {
        window.location.replace("/login");
      });
      let menu = document.getElementById("menu");
      let menuOverlay = document.getElementById("menu-overlay");
      let openButton = document.getElementById("open-menu");
      let closeButton = document.getElementById("close-menu");
      function setMenuOpen() {
        menu.classList.replace("-left-[289px]", "left-0");
        openButton.classList.replace("flex", "hidden");
        closeButton.classList.replace("hidden", "flex");
        menuOverlay.classList.replace("hidden", "block");
      }
      function setMenuClose() {
        menu.classList.replace("left-0", "-left-[289px]");
        closeButton.classList.replace("flex", "hidden");
        openButton.classList.replace("hidden", "flex");
        menuOverlay.classList.replace("block", "hidden");
      }
    </script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
  </body>
</html>
