<nav class="list-none flex flex-col space-y-6 h-full">
  <li key="record">
    <a class="text-lg font-semibold text-stone-600" href="/dashboard"
      >Dashboard</a
    >
  </li>
  <li key="record">
    <a class="text-lg font-semibold text-stone-600" href="/record"
      >Record History</a
    >
  </li>
  <li key="category">
    <a class="text-lg font-semibold text-stone-600" href="/category"
      >Categories</a
    >
  </li>
  <li key="book">
    <a class="text-lg font-semibold text-stone-600" href="/book">Books</a>
  </li>
</nav>
